html, body {
	padding: 0;
	margin: 0;
	border: none;
	font-family: sans-serif;
	background-color: #FFF;
	color: #515151;
}

.search {
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: 3em;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

.searchInput {
	width: 90%;
	height: 3em;
	padding: 0.5em 2em 0 1em;
	margin: 0;
	border: 0;
}

.search span {
	position: absolute;
	display: block;
	top: 1em;
	right: 1em;
	width: 16px;
	height: 16px;
	background: url('http://cdn.sstatic.net/stackoverflow/img/sprites.png?v=4') 0 -690px;
	cursor: pointer;
}

.artistFacets {
	position: absolute;
	top: 3em;
	left: 0;
	width: 20%;
	height: 54%;
	height: -moz-calc(54% - 3em - 1px);
    height: -webkit-calc(54% - 3em - 1px);
    height: calc(54% - 3em - 1px);
    overflow: auto;
    background: #252A3A;
    color: #FFF;
    border-bottom: 1px solid #CCC;
}

.albumFacets {
	position: absolute;
	top: 54%;
	left: 0;
	width: 20%;
	height: 46%;
	overflow: auto;
	background: #252A3A;
	color: #FFF;
}

.facet {
	padding: 0.5em 0.5em;
}

.facet:hover {
	background: #373C5A;
}

.searchResults {
	position: absolute;
	top: 3em;
	left: 20%;
	width: 40%;
	height: -moz-calc(100% - 3em);
    height: -webkit-calc(100% - 3em);
    height: calc(100% - 3em);
    overflow: auto;
    border-right: 1px solid #CCC;
}

#paging {
	padding: 0.5em;
}

.backButton {
	float: left;
}

.pagination {
	text-align: center;
}

.nextButton {
	float: right;
}

.nowPlaying {
	position: absolute;
	top: 0;
	left: 60%;
	width: 40%;
	height: 3em;
	background: #252A3A;
	color: #FFF;
	border-bottom: 1px solid #CCC;
}

.nowPlaying div {
	padding: 1em;
}

.playlist {
	position: absolute;
	top: 3em;
	left: 60%;
	width: 40%;
	height: -moz-calc(100% - 3em);
    height: -webkit-calc(100% - 3em);
    height: calc(100% - 3em);
    overflow: auto;
}

.mediaItem {
	padding: 1em;
	border-bottom: 1px solid #CCC;
}

.mediaItem:hover {
	background-color: #EEE;
}

.disabled {
	color: #888;
}
