html, body {
	padding: 0;
	margin: 0;
	border: none;
	font-family: sans-serif;
	background-color: #FFF;
	color: #000;
}

.searchInput {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.5em;
	padding: 0 1em;
}

span.deleteicon {
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: 2.5em;
}

span.deleteicon span {
	position: absolute;
	display: block;
	top: 0.7em;
	right: 0.5em;
	width: 16px;
	height: 16px;
	background: url('http://cdn.sstatic.net/stackoverflow/img/sprites.png?v=4') 0 -690px;
	cursor: pointer;
}

.artistFacets {
	position: absolute;
	top: 2.5em;
	left: 0;
	width: 20%;
	height: -moz-calc(50% - 2.5em);
    height: -webkit-calc(50% - 2.5em);
    height: calc(50% - 2.5em);
    overflow: auto;
    background: url(images/artistsbg.png) repeat-x bottom;
}

.albumFacets {
	position: absolute;
	top: 50%;
	left: 0;
	width: 20%;
	height: 50%;
	overflow: auto;
	background: url(images/albumsbg.png) repeat-x top;
}

.facet {
	padding: 0.3em 0.5em;
}

.searchResults {
	position: absolute;
	top: 2.5em;
	left: 20%;
	width: 40%;
	height: -moz-calc(100% - 2.5em);
    height: -webkit-calc(100% - 2.5em);
    height: calc(100% - 2.5em);
    overflow: auto;
    background: url(images/searchresultsbg.png) repeat-y right;
}

#paging {
	padding: 0.5em;
}

.backButton {
	float: left;
}

.pagination {
	text-align: center;
}

.nextButton {
	float: right;
}

.nowPlaying {
	position: absolute;
	top: 0;
	left: 60%;
	width: 40%;
	height: 3em;
	background: url(images/playlistbg.png) repeat-y left
}

.nowPlaying .mediaItem {
	margin: 0.2em 0.5em;
}

.playlist {
	position: absolute;
	top: 2.5em;
	left: 60%;
	width: 40%;
	height: -moz-calc(100% - 2.5em);
    height: -webkit-calc(100% - 2.5em);
    height: calc(100% - 2.5em);
    overflow: auto;
    background: url(images/playlistbg.png) repeat-y left;
}

.mediaItem {
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid #CCC;
	background-color: rgba(255, 255, 255, 0.5);
}

.disabled {
	color: #888;
}
