html, body {
	padding: 0;
	margin: 0;
	border: none;
	font-family: sans-serif;
	background-color: #000;
	color: #515151;
}

video, audio {
	width: 100%;
	height: 100%;
}

.info {
	position: absolute;
	width: 90%;
	left: 5%;
	bottom: 5%;
	background-color: rgba(37, 42, 58, 0.6);
	color: #FFF;
	border: 1px dashed #CCC;
	font-size: 3em;
}

.requestedBy {
	float: right;
	padding: 0.5em 1em;
}

.title {
	padding: 0.5em 1em 0 1em;
}

.artist {
	padding: 0 1em 0.5em 1em;
}
