.DS_Store

/target
/.settings
/.classpath
/.project

/discodj-core/target
/discodj-core/.settings
/discodj-core/.classpath
/discodj-core/.project

/discodj-solr/target
/discodj-solr/.settings
/discodj-solr/.classpath
/discodj-solr/.project

/discodj-xuggler/target
/discodj-xuggler/.settings
/discodj-xuggler/.classpath
/discodj-xuggler/.project

/discodj-web/target
/discodj-web/node_modules
/discodj-web/src/main/webapp/bower_components
/discodj-web/.settings
/discodj-web/.classpath
/discodj-web/.project
/discodj-web/.gwt

/discodj-acceptance/target
/discodj-acceptance/.settings
/discodj-acceptance/.classpath
/discodj-acceptance/.project

/discodj-debian/target
/discodj-debian/.settings
/discodj-debian/.classpath
/discodj-debian/.project

/discodj-debian/discodj-debian-war/target
/discodj-debian/discodj-debian-war/.settings
/discodj-debian/discodj-debian-war/.classpath
/discodj-debian/discodj-debian-war/.project
