.DS_Store

/target
/.settings
/.classpath
/.project

/discodj-core/target
/discodj-core/.settings
/discodj-core/.classpath
/discodj-core/.project

/discodj-solr/target
/discodj-solr/.settings
/discodj-solr/.classpath
/discodj-solr/.project

/discodj-web/target
/discodj-web/.settings
/discodj-web/.classpath
/discodj-web/.project
/discodj-web/.gwt
/discodj-web/src/main/webapp/WEB-INF/solr/discodj/data

/discodj-acceptance/target
/discodj-acceptance/.settings
/discodj-acceptance/.classpath
/discodj-acceptance/.project
