<div class="container"  ng-controller="SearchCtrl">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a href="">Search</a></li>
    <li><a href="" ng-click="gotoPlaylist()">PlayList</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="search">
      <form role="form">
        <div class="form-group">
          <label for="searchInput" class="sr-only">Keywords</label>
          <input class="form-control" id="searchInput" ng-model="query.q" ng-model-options="{ debounce: 500 }"
            ng-change="search()" placeholder="Enter an artist, album or title here" type="text">
        </div>
      </form>

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseArtists" href="">
                Artists ({{results.artistFacets.length}})
              </a>
            </h3>
          </div>
          <div id="collapseArtists" class="panel-body collapse">
            <form class="form-horizontal" role="form">
              <div class="checkbox col-sm-2" ng-repeat="facet in results.artistFacets">
                <label>
                  <input checklist-model="query.facet" checklist-value="facet.id" ng-click="facetSearch()"
                    type="checkbox">
                  {{facet.name}} ({{facet.numMatches}})
                </label>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseAlbums" href="">
                Albums ({{results.albumFacets.length}})
              </a>
            </h3>
          </div>
          <div id="collapseAlbums" class="panel-body collapse">
            <form class="form-horizontal" role="form">
              <div class="checkbox col-sm-2" ng-repeat="facet in results.albumFacets">
                <label>
                  <input type="checkbox" checklist-model="query.facet" checklist-value="facet.id"
                    ng-click="facetSearch()">
                  {{facet.name}} ({{facet.numMatches}})
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="result in results.results">
          <button type="button" class="btn btn-primary btn-xs" ng-click="addToPlaylist(result.id)"
            ng-disabled="result.whenCanBePlayedAgain > 0">Add to PlayList</button>
          {{result.title}} by {{result.artist}}
        </li>
      </ul>

      <ul class="pager">
        <li class="previous" ng-class="{disabled: results.page <= 1}"><a href="" ng-click="prevPage()"><span aria-hidden="true">&larr; </span>Previous</a></li>
        <li class="next" ng-class="{disabled: results.page >= results.numPages}"><a href="" ng-click="nextPage()">Next<span aria-hidden="true"> &rarr;</span></a></li>
      </ul>
    </div>
  </div>
</div>
